name: rosdep-ci

on:
  push:
    branches: [greenroom]
  pull_request:
    branches: ['*']

jobs:
    build:
      strategy:
        matrix:
          os: [ubuntu-latest, macos-latest]
          python: [3.8, 3.9]
      name: rosdep tests
      runs-on: ${{matrix.os}}

      steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{matrix.python}}
        uses: actions/setup-python@v1
        with:
          python-version: ${{matrix.python}}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install PyYAML argparse rospkg vcstools catkin_pkg python-dateutil rosdistro
          python -m pip install -e .
          python -m pip install pytest pytest-cov flake8 flake8-comprehensions mock codecov
      - name: Run tests
        run: |
          python -m pytest test --cov
      - name: Check coverage
        run: |
          python -m codecov


