name: rosdep-ci

on:
  push:
    branches: [master]
  pull_request:
    branches: ['*']

jobs:
    build:
      strategy:
        matrix:
          os: [ubuntu-18.04, ubuntu-20.04, macos-latest]
          python: [2.7, 3.6, 3.7, 3.8, 3.9]
          exclude:
          - os: ubuntu-20.04
            python: 2.7
          - os: ubuntu-20.04
            python: 3.5
          - os: ubuntu-20.04
            python: 3.6
          - os: ubuntu-20.04
            python: 3.7
          - os: macos-latest
            python: 3.6
      name: rosdep tests
      runs-on: ${{matrix.os}}

      steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{matrix.python}}
        uses: actions/setup-python@v1
        with:
          python-version: ${{matrix.python}}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install PyYAML argparse rospkg vcstools catkin_pkg python-dateutil rosdistro
          python -m pip install -e .
          python -m pip install nose coverage flake8 mock codecov
      - name: Run tests
        run: |
          python -m nose --with-coverage --cover-package=rosdep2 --with-xunit test
      - name: Check coverage
        run: |
          python -m codecov


